/* css reset */
/*import fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pirata+One&display=swap');

/*css grids*/
.grid  {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

/* CSS grids column widths */
.grid-col-third {
    flex-basis: 33.33%;
}
.grid-col-twoThirds {
    flex-basis: 66.66%;
}


*{
    padding : 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*default styles for whole page*/
body {
    color: #101010;
    border-color: #101010;
    background-color: #ffffff;
}

/* content container to centre content */
.container {
    max-width: 1020px;
    margin: 0 auto 0 auto;
}

/* Default styling for Headings */
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1;
    font-weight: 700;
}

/*specific styles*/
h1 {
    font-size: 4.25rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

/* Paragraphs */
p {
    font-family: "Source Sans 3", Arial, Helvitica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    font-style: normal;
}

/*paragraph large */
p.large {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 2.5 rem;
}

ul {
    list-style: disc outside;
    margin-bottom: 1.5 rem;
    margin-left: 1.25rem;
}
ul li {
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

/* hyperlinks */
a {
    font-family:inherit;
    font-size:inherit;
    line-height: inherit;
    color: #006bc3;
}

a:hover {
    color:#00447B;
}

a:visited {
    color:#6935d2
}

/* images*/
img {
    max-width: 1020px;
    width:100%;
    height:auto;
    border:1px solid #101010;
    margin-bottom: 2rem;
}

/*blockquote*/
figure.quote {
    border-left: 8px solid #D8415C;
    padding:1.5rem 0 1.5rem 2rem;
    margin-bottom: 2rem;
}

figure.quote p{
    margin-bottom:0;
}

figure.quote blockquote {
    margin-bottom:.5rem;

}
figure.quote figcaption p{
    font-weight:700;
}

footer {
    padding: 1.5rem 0 1.5rem 0;
    margin-top:2rem;
    border-top:1px solid #101010;
}

main{
    margin-bottom: 2.5rem;
}

header{
    border-bottom:2px solid #101010;
    padding:1.5rem 0;
}

header p.logo{
    font-weight: 700;
    margin-bottom:0;
    font-size:1.75rem;
    line-height: 1.1;
}

.colour-block{
    padding:3rem 0 3rem 0;
    background-color:#FF9999;
    margin-bottom:2.5rem;
}

.highlight {
    background-color: #D8415C;
    padding:0 0.5rem;
}

/* media queries */
@media only screen and (max-width:1068px) {
    .container {
        margin: 0 24px 0 24px;
    }
}
@media only screen and (max-width: 768px) {
    .grid {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 16px 0 16px;
    }
}